In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'col2': {0: 'a', 1: 2, 2: np.nan}, 'col1': {0: 'w', 1: 1, 2: 2}})
di = {1: "A", 2: "B"}
df

  col2 col1
0    a    w
1    2    1
2  NaN    2

In [5]:
df.replace({"col1": di})

  col2 col1
0    a    w
1    2    A
2  NaN    B